
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <p class="pull-left">
        Copyrights &copy; 2019 / @DateTime.Now.Year.ToString() - Dextermd. All rights reserved. &nbsp;
    </p>
    <p>
        <email domain ="mail.md"> contact</email>  -  <email domain="gmail.com">contact</email>
    </p>
    <p class="pull-right">
        <a href="" class="mr5">Terms of use</a>
        |
        <a href="" class="ml5 mr25">Privacy police</a>
    </p>
</div>
