<!-- Start #footer  -->
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <p class="pull-left">
        &copy; 2022 - Dextermd. All rights reserved.
    </p>
    <p class="pull-right">
        <a href="" class="mr5">Terms of use</a>
        |
        <a href="" class="ml5 mr25">Privacy police</a>
    </p>
</div>
<!-- End #footer  -->