<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>



<li>
    <a href=""><i class="l-ecommerce-graph1"></i> <span class="txt">Product</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Product" asp-action="Index"><span class="txt">Product</span></a>
        </li>
        <li>
            <a asp-controller="Product" asp-action="List"><span class="txt">Product list</span></a>
        </li>
    </ul>
</li>

<li>
    <a asp-controller="Cart" asp-action="Index"><i class="l-basic-anchor"></i><span class="txt">Cart</span></a>
</li>

<li>
    <a asp-controller="Pacient" asp-action="Index"><i class="l-basic-chronometer"></i><span class="txt">Pacients</span></a>
</li>

<li>
    <a asp-controller="PacientStatus" asp-action="Index"><i class="l-basic-accelerator"></i><span class="txt">Pacient Status</span></a>
</li>

<li>
    <a asp-controller="Logger" asp-action="Index"><i class="l-basic-notebook-pen"></i><span class="txt">Logger</span></a>
</li>

