<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>




<li>
    <a href="#"><i class="l-ecommerce-graph1"></i> <span class="txt">Demo - Routes</span></a>
    <ul class="sub">
        <li><a href="charts-flot.html"><span class="txt">Home</span></a>
        </li>
        <li><a href="charts-morris.html"><span class="txt">Icones</span></a>
        </li>
        <li><a href="charts-chartjs.html"><span class="txt">Privecy </span></a>
        </li>
    </ul>
</li>
