<li>
    <a asp-controller="Home" asp-action="Index"><i class="l-basic-laptop"></i><span class="txt">Dashboard</span></a>
</li>



<li>
    <a href=""><i class="l-ecommerce-graph1"></i> <span class="txt">Product</span></a>
    <ul class="sub">
        <li>
            <a asp-controller="Product" asp-action="Index"><span class="txt">Product</span></a>
        </li>
        <li>
            <a asp-controller="Product" asp-action="List"><span class="txt">Product list</span></a>
        </li>
    </ul>
</li>

