

<div class="panel panel-info">

    <div class="panel panel-heading"><h4>Pacient Status</h4></div>

    <div class="panel-body">
    
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <vc:critical-status></vc:critical-status>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <vc:stable-status></vc:stable-status>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <vc:serious-status></vc:serious-status>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <vc:observation-status-view-components></vc:observation-status-view-components>
            </div>

        </div>

    </div>

</div>