@model Dextermd.ITDeveloper.Domain.Models.Pacient

@{
    ViewData["Title"] = "Delete Pacient";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>Are you sure you want to delete this?</h3>
    </div>


    <div class="panel panel-body">
        <div>
            <div>
                <partial name="_delete_details" />
            </div>
            <form asp-controller="Pacient" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-controller="Pacient" asp-action="Index" class="btn btn-info">Back to List</a>
            </form>
        </div>
    </div>
</div>
