@using Dextermd.ITDeveloper.Domain.Enums
@model Dextermd.ITDeveloper.Domain.Models.Pacient

@{
    ViewData["Title"] = "Edit Pacient";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>Edit Pacient</h3>
    </div>

    <div class="panel panel-body">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <partial name="_edit_create" />

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-controller="Pacient" asp-action="Index" class="btn btn-info">Back to List</a>
                </div>
            </form>
        </div>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
