
@{
    ViewData["Title"] = "Checkout";
}

<div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-ms-12">
    <div class="row">
        <div class="panel panel-heading">
            <h3>Форма оформления заказа</h3>
        </div>
        <div class="panel panel-body">
            @Html.ValidationSummary(false, "", new { @class = "text-danger"})
        </div>
    </div>
</div>

