@model Dextermd.ITDeveloper.Domain.Models.PacientStatus

@{
    ViewData["Title"] = "Edit Pacient Status";
}


<vc:header-modules title="Medical Management-Sys / Pacient Status Module"
                   subtitle="Administrations"></vc:header-modules>

<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Edit Pacient Status</h3>
    </div>

    <div class="panel-body">

        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
