@await Html.PartialAsync("PartialView/_layout_original")

@* _LAYOUT.CSHTML ORIGINAL *@

<!doctype html>

<html class="no-js">
    @await Html.PartialAsync("PartialView/_head");
    <body>

        @await Html.PartialAsync("PartialView/_navbar")

        <div id="wrapper">

            <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
                <div class="sidebar-inner">
                    <div class="sidebar-scrollarea">

                        @await Html.PartialAsync("PartialView/_profile_left_sidebar")

                        <div class="sidebar-panel">
                            <h5 class="sidebar-panel-title">Navigation</h5>
                        </div>

                        <div class="side-nav">
                            <ul class="nav">
                                
                                @await Html.PartialAsync("PartialView/_lis_do_menu_left")

                            </ul>
                        </div>
                        
                        @await Html.PartialAsync("PartialView/_menu_inferior_left")

                     </div>
                </div>

            </aside>

            @await Html.PartialAsync("PartialView/_rightsidebar")

            
            <div class="page-content sidebar-page right-sidebar-page clearfix">
                <div class="page-content-wrapper">
                    <div class="page-content-inner">

                    @await Html.PartialAsync("PartialView/_sub_navbar")

                    @RenderBody()

                    </div>
            
                </div>

            </div>

        </div>

        @await Html.PartialAsync("PartialView/_footer")

        <!-- Back to top -->
        <div id="back-to-top">
            <a href="#">Back to Top</a>
        </div>

        @await Html.PartialAsync("PartialView/_scripts")

        @RenderSection("scripts", required: false)

    </body>
</html>