@{
    ViewData["Title"] = "Home Page";
}

<vc:header-modules title="Medical Management-Sys / Dashboard - Statistics"
    subtitle="Administrations"></vc:header-modules>

<partial name="PartialView/_pacient_status" />


<div class="panel panel-default panel-controls">

    <div class="panel panel-heading">
        <h3>Home</h3>
    </div>

    <div class="panel-body">
       


    </div>

</div>